<form (ngSubmit)="doSearch()">
  <!-- Date range -->
  <div class="row">
    <div class="col-md-4 form-group">
      <input type="text" placeholder="Select dates" class="form-control" bsDaterangepicker [bsConfig]="dtpConfig" name="range"
        [(ngModel)]="dateRange" (bsValueChange)="dateChanged($event)" placement="bottom left" />
      <span class="form-text text-muted">first: <strong>{{config?.firstLogDate | date : 'yyyy-MM-dd H:mm:ss' }}</strong>
        Last: <strong>{{config?.lastLogDate | date : 'yyyy-MM-dd H:mm:ss' }}</strong> </span>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-light"><i class="fa fa-paper-plane"></i> Find</button>
    </div>
  </div>

</form>

<div *ngIf="errorMessage" class="card text-white bg-danger mb-3">
  <div class="card-header">Error: {{errorMessage}}</div>
</div>

<div class="row">
  <div class="col-sm">
    <app-chart title="Level frequency (in items)" [series]="levelPie"></app-chart>

    <app-data-table [columns]="levelCols" [rows]="stats?.levelStats"></app-data-table>

  </div>
  <div class="col-sm">
    <app-chart title="Request errors" [series]="urlPie"></app-chart>

    <app-data-table [columns]="urlCols" [rows]="stats?.urlStats"></app-data-table>

  </div>
</div>