<div>
  Last checked at: <strong>{{ lastChecked | date: 'H:mm:ss' }}</strong>
  <button class="btn btn-link" (click)="toggleMonitor()">{{ log.monitoring ? 'Pause' : 'Resume'}}</button>
  <i *ngIf="log.busy" class="fa fa-spinner fa-spin d-inline-block ml-2"></i>

  <span class="float-right">
    <button class="btn btn-sm btn-danger mr-4" (click)="bags = []"><i class="fa fa-trash"></i> Clear</button>
    <button class="btn btn-sm btn-default" (click)="toggleCollapseAll()"><i [ngClass]="{ 'fa-chevron-up': !allCollapsed, 'fa-chevron-down': allCollapsed }"
        class="fa fa-chevron-up"></i> all</button>
  </span>
</div>

<app-level-filter (update)="filter($event)" #levelFilter class="d-block mb-4"></app-level-filter>

<div class="bag-container">
  <app-log-row *ngFor="let b of filteredBags" [bag]="b"></app-log-row>
</div>

<div *ngIf="errorMessage" class="card text-white bg-danger mb-3">
  <div class="card-header">Error: {{errorMessage}}</div>
</div>